// @import '~antd/lib/style/themes/dark.less';
// @import '~antd/dist/antd.less';
// @import '~antd/dist/antd.dark.less';

// npx @emeks/antd-custom-theme-generator -w --theme dark ./src/styles/my-theme.less ./src/styles/my-theme.css

// @primary-color: #d719cd;
@primary-color: #f8ce47;
@secondary-color: #d719cd;
// @primary-color: #722ed1;
// @body-background: #0d1124;
@body-background: #001628;
// @component-background: #12182e;
@component-background: #051467;
// @component-background: #02203c;
@icon-color-hover: fade(@white, 75%);
@heading-color: #ffffffdb;
@text-color: #ffffffdb;
@text-color-secondary: fade(@white, 45%);
@border-color-base: #6767DA;
@border-color-split: @popover-background;
@border-style-base: solid;
@layout-body-background: @body-background;
@layout-header-background: @component-background;
@layout-sider-background: @component-background;
@layout-trigger-background: @component-background;
@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
  'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
@font-feature-settings-base: tnum;
@disabled-color: fade(@white, 30%);
@disabled-color-dark: fade(@white, 30%);
@outline-blur-size: 0;
@background-color-light: fade(@white, 4%);
@background-color-base: fade(@white, 8%);
@item-hover-bg: fade(@white, 8%);
@shadow-color: rgba(0, 0, 0, 0.45);
@shadow-1-up: 0 -6px 16px -8px rgba(0, 0, 0, 0.24), 0 -9px 28px 0 rgba(0, 0, 0, 0.15),
  0 -12px 48px 16px rgba(0, 0, 0, 0.09);
@shadow-1-down: 0 6px 16px -8px rgba(0, 0, 0, 0.24), 0 9px 28px 0 rgba(0, 0, 0, 0.15),
  0 12px 48px 16px rgba(0, 0, 0, 0.09);
@shadow-1-left: -6px 0 16px -8px rgba(0, 0, 0, 0.08), -9px 0 28px 0 rgba(0, 0, 0, 0.05),
  -12px 0 48px 16px rgba(0, 0, 0, 0.03);
@shadow-1-right: 6px 0 16px -8px rgba(0, 0, 0, 0.24), 9px 0 28px 0 rgba(0, 0, 0, 0.15),
  12px 0 48px 16px rgba(0, 0, 0, 0.09);
@shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.36), 0 6px 16px 0 rgba(0, 0, 0, 0.24),
  0 9px 28px 8px rgba(0, 0, 0, 0.15);
@btn-default-bg: transparent;
@input-placeholder-color: #c5bfbf;
@input-bg: transparent;
@input-number-handler-active-bg: @popover-background;
@select-item-selected-font-weight: 600;
@tooltip-bg: #434343;
@popover-bg: @popover-background;
@modal-header-bg: @popover-background;

@table-header-bg: #1d1d1d;
@table-header-sort-bg: #262626;
@table-body-sort-bg: fade(@white, 1%);
@table-row-hover-bg: #262626;
@badge-text-color: @white;
@card-actions-background: fade(@white, 4%);
@card-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.48), 0 3px 6px 0 rgba(0, 0, 0, 0.36),
  0 5px 12px 4px rgba(0, 0, 0, 0.27);
@avatar-bg: #5a5a5a;
@pagination-item-bg-active: transparent;
@slider-rail-background-color: fade(@white, 20%);
@slider-rail-background-color-hover: @slider-rail-background-color;
@slider-track-background-color: @primary-color;
@slider-handle-color: @primary-color;
@skeleton-color: #303030;


@alert-success-border-color: @green-3;
@alert-success-bg-color: @green-1;
@alert-info-border-color: @blue-3;
@alert-info-bg-color: @blue-1;
@alert-warning-border-color: @gold-3;
@alert-warning-bg-color: @gold-1;
@alert-error-border-color: @red-3;
@alert-error-bg-color: @red-1;

// Drawer
// ---
// @drawer-header-padding: @padding-md @padding-lg;
// @drawer-body-padding: @padding-lg;
// @drawer-bg:  #0b154b;
@drawer-bg:  #1b2333;
// @drawer-footer-padding-vertical: @modal-footer-padding-vertical;
// @drawer-footer-padding-horizontal: @modal-footer-padding-horizontal;
// @drawer-header-close-size: 56px;
// @drawer-title-font-size: @font-size-lg;
// @drawer-title-line-height: 22px;


// Alert
// ---
// @alert-success-border-color: ~`colorPalette('@{success-color}', 3) `;
@alert-success-bg-color: @green-8;
// @alert-success-icon-color: @success-color;
// @alert-info-border-color: ~`colorPalette('@{info-color}', 3) `;
@alert-info-bg-color: ~`colorPalette('@{info-color}', 8) `;
// @alert-info-icon-color: @info-color;
// @alert-warning-border-color: ~`colorPalette('@{warning-color}', 3) `;
@alert-warning-bg-color: ~`colorPalette('@{warning-color}', 8) `;
// @alert-warning-icon-color: @warning-color;
// @alert-error-border-color: ~`colorPalette('@{error-color}', 3) `;
@alert-error-bg-color: @red-8;
// @alert-error-icon-color: @error-color;
// @alert-message-color: @heading-color;
// @alert-text-color: @text-color;
// @alert-close-color: @text-color-secondary;
// @alert-close-hover-color: @icon-color-hover;
// @alert-no-icon-padding-vertical: @padding-xs;
// @alert-with-description-no-icon-padding-vertical: @padding-md - 1px;
// @alert-with-description-padding-vertical: @padding-md - 1px;
// @alert-with-description-padding: @alert-with-description-padding-vertical 15px
//   @alert-with-description-no-icon-padding-vertical @alert-with-description-icon-size;
// @alert-icon-top: 8px + @font-size-base * (@line-height-base / 2) - (@font-size-base / 2);
// @alert-with-description-icon-size: 24px;

// >>> Error
@error-color: @red-9;
// @error-color-hover: color(~`colorPalette('@{error-color}', 5) `);
// @error-color-active: color(~`colorPalette('@{error-color}', 7) `);
// @error-color-outline: fade(@error-color, @outline-fade);
// @error-color-deprecated-bg: color(~`colorPalette('@{error-color}', 1) `);
// @error-color-deprecated-border: color(~`colorPalette('@{error-color}', 3) `);

// Menu
// ---
// @menu-inline-toplevel-item-height: 40px;
// @menu-item-height: 40px;
// @menu-item-group-height: @line-height-base;
// @menu-collapsed-width: 80px;
@menu-bg: @component-background;
@menu-popup-bg: @component-background;
@menu-item-color: @text-color;
@menu-inline-submenu-bg: @component-background;
@menu-highlight-color: @primary-color;
// @menu-highlight-danger-color: @error-color;
// @menu-item-active-bg: @primary-1;
@menu-item-active-bg: ~`colorPalette('@{component-background}', 8) `;
// @menu-item-active-danger-bg: @red-1;
// @menu-item-active-border-width: 3px;
// @menu-item-group-title-color: @text-color-secondary;
// @menu-item-vertical-margin: 4px;
// @menu-item-font-size: @font-size-base;
// @menu-item-boundary-margin: 8px;
// @menu-item-padding-horizontal: 20px;
// @menu-item-padding: 0 @menu-item-padding-horizontal;
// @menu-horizontal-line-height: 46px;
// @menu-icon-margin-right: 10px;
// @menu-icon-size: @menu-item-font-size;
// @menu-icon-size-lg: @font-size-lg;
// @menu-item-group-title-font-size: @menu-item-font-size;


// PageHeader
// ---
// @page-header-padding: @padding-sm;
@page-header-padding-vertical: @padding-sm;
// @page-header-padding-breadcrumb: @padding-sm;
// @page-header-content-padding-vertical: @padding-sm;
// @page-header-back-color: #000;
// @page-header-ghost-bg: inherit;
// @page-header-heading-title: @heading-4-size;
// @page-header-heading-sub-title: 14px;
// @page-header-tabs-tab-font-size: 16px;

// Fonts Sizes
// ---

@font-size-base: 15px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 12px;
@heading-1-size: ceil(@font-size-base * 1.5);
@heading-2-size: ceil(@font-size-base * 1.3);
@heading-3-size: ceil(@font-size-base * 1.2);
@heading-4-size: ceil(@font-size-base * 1.1);
@heading-5-size: ceil(@font-size-base * 0.9);
// https://github.com/ant-design/ant-design/issues/20210
@line-height-base: 1.5715;
@border-radius-base: 2px;
@border-radius-sm: @border-radius-base;


// Buttons
// @btn-font-weight: 400;
// @btn-border-radius-base: @border-radius-base;
// @btn-border-radius-sm: @border-radius-base;
// @btn-border-width: @border-width-base;
// @btn-border-style: @border-style-base;
// @btn-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
// @btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
// @btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);

// @btn-primary-color: #fff;
@btn-primary-bg: @secondary-color;

// @btn-default-color: @text-color;
// @btn-default-bg: @component-background;
// @btn-default-border: @border-color-base;

// @btn-danger-color: #fff;
// @btn-danger-bg: @error-color;
// @btn-danger-border: @error-color;

// @btn-disable-color: @disabled-color;
// @btn-disable-bg: @disabled-bg;
// @btn-disable-border: @border-color-base;

// @btn-default-ghost-color: @component-background;
// @btn-default-ghost-bg: transparent;
// @btn-default-ghost-border: @component-background;

// @btn-font-size-lg: @font-size-lg;
@btn-font-size-sm: @font-size-sm;
// @btn-padding-horizontal-base: @padding-md - 1px;
// @btn-padding-horizontal-lg: 1rem;
// @btn-padding-horizontal-sm: @padding-xs - 1px;

// @btn-height-base: @height-base;
@btn-height-lg: 54px;
// @btn-height-sm: @height-sm;

// @btn-line-height: @line-height-base;

// @btn-circle-size: @btn-height-base;
// @btn-circle-size-lg: @btn-height-lg;
// @btn-circle-size-sm: @btn-height-sm;

// @btn-square-size: @btn-height-base;
// @btn-square-size-lg: @btn-height-lg;
// @btn-square-size-sm: @btn-height-sm;
// @btn-square-only-icon-size: @font-size-base + 2px;
// @btn-square-only-icon-size-sm: @font-size-base;
// @btn-square-only-icon-size-lg: @btn-font-size-lg + 2px;

// @btn-group-border: @primary-5;

// @btn-link-hover-bg: transparent;
// @btn-text-hover-bg: rgba(0, 0, 0, 0.018);

// Message
// ---
@message-notice-content-padding: 16px 16px;
@message-notice-content-bg: @component-background;