/* @import '~antd/dist/antd.dark.min.css'; */
/* @import '~antd/dist/antd.variable.min.css'; */
/* @import '~antd/dist/antd.variable.min.css'; */

/* .tox .tox-edit-area__iframe {
    background: none !important;
    color: white !important;
}

.tox .tox-edit-area__iframe html {
    color: white !important;
} */

pre {
  background-color: #142c43;
  box-shadow: 2px 2px 3px 1px rgb(0 0 0 / 40%);
  color: #fff;
  padding: 1rem;
  max-width: calc(100vw - 30px);
}

.content-area {
  height: calc(100vh - 80px);
}

.ant-btn-link {
  border: none !important;
}

.ant-menu {
  user-select: none;
}

.space-between {
  width: 100%;
  justify-content: space-between;
}

.badge {
  min-width: 36px;
}

.badge sup {
  font-size: 10px;
}

.panel .ant-collapse-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.panel .ant-collapse-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.panel .ant-collapse-content .ant-collapse-content-box {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.panel
  .ant-collapse-icon-position-end
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  right: 0;
}
